@model AddViewModel

<div>
    <form method="post">
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
        <span asp-validation-for="Title"></span>
        <br/>
        <label asp-for="IsCompleted"></label>
        <input asp-for="IsCompleted"/>
        <br/>
        <button asp-action="Add">Add</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
