@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Todos</h1>
    <div class="card">
        <a asp-page="Add">Add</a>
    </div>
    <div class="card">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Task</th>
                    <th>Is Completed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todo in Model.Todos)
                {
                    <tr>
                        <td>@todo.Id</td>
                        <td>@todo.Title</td>
                        <td>@todo.IsCompleted</td>
                        <td>
                            <a asp-page="Edit" asp-route-id="@todo.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
